* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border-radius: 5px;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#header {
    /* display: none; */
    height: 48px;
    width: 100%;
    background-color: rgb(238, 8, 161);
    color: #000;
    position: fixed;
    top: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__status {
    justify-content: center;
}

.header__item--left, .header__item--right {
    line-height: 48px;
    margin: 0 24px;
    font-size: 24px;
}

#content {
    margin-top: 48px;
    margin-bottom: 48px;
}

.content__handle {
    /* margin-top: 12px; */
}

.content__handle--bgr {
    background-image: linear-gradient( 45deg, rgb(144, 66, 218) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );
}

.content__cd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    opacity: 1;
}

.image--turn {
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: 12px auto;
    border: 2px solid #fff;
    box-shadow: 0px 6px 5px #ccc;
}

.content__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    line-height: 48px;
    padding: 12px;
}

.item__buttons i {
    font-size: 24px;
    margin-right: 12px;
}

#main .btn--pause {
    display: none;
}
#main.playing .btn--pause {
    display: inline-block;
}

#main.playing .btn--play {
    display: none;
}
.content__change {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 #progress {
    width: 100%;
    height: 8px;
    margin: 8px 12px 24px;

 }

 .btn--random.active {
    color: rgb(226, 19, 19);
 }
 .btn--repeat.active {
    color: rgb(226, 19, 19);
 }

.line--change {

}

.content__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #999;
    border-color: #000;
    padding: 12px;
}

.song {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    width: 100%;
}

.song:active {
    opacity: 0.8;
}

.song.active {
    background-color: rgb(238, 8, 161);
}

.song.ative .body__list, .song.ative .option {
    color: #fff !important;
}

.thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    size: cover;
    background-size: cover;
    margin: 0 8px;
}

.body__list {
    flex: 2;
    padding: 0 16px;
}

.title {
    font-size: 18px;
    color: var(--text-color);
}

.author {
    font-size: 12px;
    color: #999;
}

.option {
    padding: 16px 8px;
    color: black;
    font-size: 20px;
}

#footer {
    height: 48px;
    width: 100%;
    background-color: rgb(238, 8, 161);
    color: #000;
    position: fixed;
    bottom: 0;
}

.footer__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    line-height: 48px;
}

.footer__items--i {
    margin: 0px 24px;
    font-size: 24px;
}